html{
    font-size: 16px;
    font-family: 'BenchNine', 'cursive';
    background-color: #D2F0F2;
}

h1{
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 1px 1px 1px black;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

body {
    width: 650px;
    margin: 0 auto;
    background-color: #96F0F2;
    padding: 0px 45px 45px 45px;
    border: 2px solid #E9DAF1;
}

img{
    display: block;
    margin: 0 auto;
    max-width: 600px;
}

.decorative-space {
    position: relative;
    display: block;
    left: 5px;
    width: 26px;
    margin-top: 30px;
    padding: 30px;
    border: 2px solid #73ee7d;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}

.primary-button {
    display: block;
    height: 58px;
    width: 82px;
    background-color:  #73ee7d;
    border: solid #73ee7d;
    border-width: 0 10px;
    color: #123440;
    font-size: 18px;
    margin: -37px 0px -25px -37px;
    padding: 15px;
    padding-left: 10px;
}

.primary-button:active {
    transform: translateY(9px) translateX(9px);
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited{
    color: rgb(39, 38, 38);
    text-decoration: none;
}