html{
    font-size: 16px;
    font-family: 'Yusei Magic', sans-serif;
    background-color: #d4f0f1;
}
header{
    text-align: center;
    background: url('../image/fundo.png');
    background-position:100%;
    color: rgb(255, 255, 255);
    

}

h1{
    font-size: 70px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: #000;
}


img {
    width: 375px;
    margin: 40px 0px 0px 0px;
    border: 3px solid rgb(37, 212, 198);
    border-radius: 25px;
}

ul {
    padding: 10px;
}

li {
    display: column;
    padding: 0px 10px 0px 10px;
}

article {
    max-width: 700px;
    padding: 20px;
    margin: 0 auto;
}
  
@media (max-width: 500px) {
    h1 {
      font-size: 36px;
      padding: 5px;
    }
    li {
      padding: 5px;
      display: block;
    }
}